* {
  padding: 0;
  margin: 0;
}
canvas {
  background: black;
  display: block;
  margin: 0 auto;
}

body {
  background-image: url(neonbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#myCanvas {
  opacity: 0.9;
  border-radius: 15px;
}

.text-box {
    color: white;
    background-color: rgba(0, 0, 0, 0.925);
    margin-top: 50px;
}

#titleCard {
    color: white;
}
